:root {
  --header-footer-height: 37px;
  --border-color: #c4c4c4;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 1.1rem;
}
header > div,
footer > div {
  position: fixed;
  width: 100%;
  background-color: white;
}
header,
footer,
footer > div,
header > div {
  height: var(--header-footer-height);
}
footer div {
  bottom: 0;
  border-top: 1px solid var(--border-color);
}
header div {
  top: 0;
  border-bottom: 1px solid var(--border-color);
}
main {
  margin: 27px 37px 10px 45px;
  display: flex;
  justify-content: space-between;
}
main > figure > img {
  width: 320px;
  height: 240px;
}
main > div > section {
  display: flex;
  justify-content: space-between;
}
main > div > section > div {
  display: flex;
  column-gap: 30px;
}
main > div > section > div > p {
  font-size: 1.5rem;
  line-height: 1.5rem;
}
main > div > section > div > p:first-child > span:first-child {
  margin-right: 10px;
}
main > div > section > div > p:first-child > span:first-child:hover {
  color: red;
}
main > div > section > div > p:nth-child(2) > span:first-child {
  margin-right: 10px;
}
main > div > section > div > p:nth-child(2) > span:first-child:hover {
  color: green;
}
main > div > section > p {
  line-height: 2.1rem;
}
main > div > article:last-child {
  font-size: 1rem;
}
main > div > article:last-child > div {
  margin-left: 150px;
}
main > div > article:last-child > div > section:nth-child(2n - 1) {
  background-color: #c4c4c433;
}
main > div > article:last-child section {
  width: 100%;
  height: auto;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  display: flex;
  padding: 10px;
}
main > div > article:last-child section > time {
  margin-left: auto;
  align-self: flex-end;
}
main > div > article:last-child section > div > p {
  margin-top: 0;
}
main > div > article:last-child section > div > p:first-child {
  font-weight: bold;
}
main > div > article:last-child section > div > p:last-child {
  font-style: italic;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 0;
}
main > div > article:last-child section > img {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  margin-right: 10px;
}
