:root {
  --header-footer-height: 37px;
  --border-color: #c4c4c4;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-size: 1.1rem;
}
header > div,
footer > div {
  position: fixed;
  width: 100%;
  background-color: white;
}
header,
footer,
footer > div,
header > div {
  height: var(--header-footer-height);
}
footer div {
  bottom: 0;
  border-top: 1px solid var(--border-color);
}
header div {
  top: 0;
  border-bottom: 1px solid var(--border-color);
}
main {
  margin: 27px 37px 10px 45px;
  display: flex;
  justify-content: space-between;
}
main > figure > img {
  width: 320px;
  height: 240px;
}
main > div > section {
  display: flex;
  justify-content: space-between;
}
main > div > section > div {
  display: flex;
  column-gap: 30px;
}
main > div > section > div > p {
  font-size: 1.5rem;
  line-height: 1.5rem;
}
main > div > section > div > p:first-child > span:first-child {
  margin-right: 10px;
}
main > div > section > div > p:first-child > span:first-child:hover {
  color: red;
}
main > div > section > div > p:nth-child(2) > span:first-child {
  margin-right: 10px;
}
main > div > section > div > p:nth-child(2) > span:first-child:hover {
  color: green;
}
main > div > section > p {
  line-height: 2.1rem;
}
main > div > article:last-child {
  font-size: 1rem;
}
main > div > article:last-child > div {
  margin-left: 150px;
}
main > div > article:last-child > div > section:nth-child(2n - 1) {
  background-color: #c4c4c433;
}
main > div > article:last-child section {
  width: 100%;
  height: auto;
  border-top: 1px solid var(--border-color);
  border-bottom: 1px solid var(--border-color);
  display: flex;
  padding: 10px;
}
main > div > article:last-child section > time {
  margin-left: auto;
  align-self: flex-end;
}
main > div > article:last-child section > div > p {
  margin-top: 0;
}
main > div > article:last-child section > div > p:first-child {
  font-weight: bold;
}
main > div > article:last-child section > div > p:last-child {
  font-style: italic;
  font-size: 0.9rem;
  color: rgba(0, 0, 0, 0.8);
  margin-bottom: 0;
}
main > div > article:last-child section > img {
  width: 48px;
  height: 48px;
  border-radius: 100%;
  margin-right: 10px;
}
.opacity-reducer {
  position: fixed;
  z-index: 1;
  background-color: rgba(0, 0, 0, 0.5);
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;
}
.likes-sheet {
  width: 1000px;
  min-height: 300px;
  max-height: calc(100vh - 32px*2);
  background-size: auto;
  background-color: white;
  position: fixed;
  z-index: 2;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}
.likes-sheet__cross {
  width: 16px;
  height: 16px;
  position: absolute;
  right: 32px;
  top: 32px;
}
.likes-sheet__likes-sheet-content {
  margin: 128px 32px;
  display: flex;
  flex-wrap: wrap;
  row-gap: 32px;
  overflow: auto;
  max-height: calc(100vh - 32px*2 - 128px*2);
}
.likes-sheet-content__person {
  margin: 0 16px;
  height: fit-content;
  width: 121px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.person__name {
  width: fit-content;
}
.avatar {
  width: 60px;
  height: 60px;
  border-radius: 100%;
}
